   *{
                margin: 0;
                padding: 0;
            }
            body {
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .container {
                height: 100px;
                overflow: hidden;
            }
            .rainbow {
                position: relative;
                display: flex;
                justify-content: center;
                overflow: hidden;
                width: 200px;
                height: 200px;
                align-items: center;
            }
            .container span {
                position: absolute;
                display: inline-block;
                /*border: 1px solid;*/
                border-radius: 50%;
                
            }
            #text {
                font-family: Monospace;
                font-weight: bold;
                color: #009971;
                font-size: 17px;
            }
